<div class="container p-5 background-color">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 text-center">
             <h2>Registration</h2>
          </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Name:</label>
            </div>
            <div class="col-9">
                <input type="text" id="Name" class="form-control" formControlName="Name">
                   </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>DOB: </label>
            </div>
            <div class="col-9 ">
                <input type="date" class="form-control" formControlName="DOB" id="date">
                </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Gender: </label>
            </div>
            <div class="col-9 ">
                <input type="radio" id="male" value="male" formControlName="Gender">
                <label class="margin-left">Male</label>
                <input class="margin-left" type="radio" id="female" value="female" formControlName="Gender">
                <label class="margin-left">Female</label>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>PhoneNo: </label>
            </div>
            <div class="col-9 ">
                <input type="number" formControlName="PhoneNo" id="PhoneNo" class="form-control">
                </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Address: </label>
            </div>
            <div class="col-9 ">
                <textarea class="form-control" formControlName="Address"></textarea>
               </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>EmailId: </label>
            </div>
            <div class="col-9 ">
                <input type="text" id="EmailId" class="form-control" formControlName="EmailId">
                 </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Designation: </label>
            </div>
            <div class="col-9 ">
                <input type="text" id="EmailId" class="form-control" formControlName="Designation">
                 </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Hobbies: </label>
            </div>
            <div class="col-9 ">
                <div *ngFor="let Hobbies of Hobbies; let i=index" class="mb-1">
                    <input type="checkbox" value="Hobbies.value" class="set-margin-right">{{Hobbies.name}} 
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Salary: </label>
            </div>
            <div class="col-9 ">
                <input type="number" class="form-control" formControlName="Salary">
                </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Country: </label>
            </div>
            <div class="col-9 ">
                <select (change)='getCity($event)' class="form-control">
                    <option *ngFor="let Country of Country;" [ngValue]="Country.Id" >
                         {{Country.name}}
                    </option>
                </select>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>City: </label>
            </div>
            <div class="col-9 " >
                <select class="form-control">
                    <option *ngFor="let City of City;" [ngValue]="City.cityId">
                         {{City.name}}
                    </option>
                </select>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Password: </label>
            </div>
            <div class="col-9 ">
                <input type="password" formControlName="Password" class="form-control">
               </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2 text-right">
                <label>Upload File: </label>
            </div>
            <div class="col-9 ">
                <input type="file" formControlName="Image" class="form-control">
                 </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row form-group mt-2">
            <div class="col-2">
            </div>
            <div class="col-9 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-1"></div>
        </div>
    </form>
</div>
